/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		h1{
			font-size:50px;
			line-height: 70px;
		}

		#prod-highlight h2{
			font-size:30px;
			margin-bottom: 0px;
		}

		#prod-highlight h3{
			font-size:21px;
			margin-bottom: 0px;
		}
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		#header img{
			position:relative;
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 160px;
			height: auto;
		}

		h1{
			font-size: 48px;
			line-height: 65px;
		}

		#header ul{
			text-align: center;
			float: none;
		}

		#hero{
			padding-top: 100px;
			padding-bottom: 60px; 
		}

		#prod-highlight h2{
			font-size: 28px;
			margin-bottom: 5px;
			font-weight: normal;
			line-height: 35px;
		}

		#prod-highlight h3{
			font-size:16px;
			margin-bottom: 0px;
			line-height: normal;
		}

		#prod-desc-text{
			text-align: center;
			margin-bottom: 20px;
		}

		#prod-feature h2{
			font-size: 30px;
		}

		#prod-feature h3{
			font-size: 17px;
		}

		#newsletter h2{
			font-size: 16px;
			width: 100%;
		}

		input, input[type="text"] {
			width:245px;
			padding:15px;
		}

		#newsletter button{
			width:93px;
			padding:16px;
			font-size: 14px;
		}

		#prod-desc-text p{
  		width:100%;
		}

		#feature-desc img{
			margin:45px auto;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		#header{
			font-size: 15px;
			padding-top: 35px;
		}

		#header img{
			position:relative;
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 120px;
			height: auto;
		}

		#hero button{
			width:229px;
			height:66px;
			font-size: 13px;
		}

		h1{
			font-size: 32px;
			line-height: 34px;
		}

		#hero{
			padding-top: 100px;
			padding-bottom: 60px; 
		}

		#prod-highlight h2{
			font-size: 20px;
			margin-bottom: 5px;
			font-weight: normal;
			line-height: 27px;
		}

		#prod-desc{
			padding: 100px 0;
		}

		#prod-desc-text{
			text-align: center;
			margin-bottom: 20px;
		}

		#prod-desc-text h2{
			font-size: 25px
		}

		#prod-feature h2{
			font-size: 30px;
		}

		#prod-feature h3{
			font-size: 17px;
		}

		.feature-desc img{
			width: 35px;
			margin: 45px auto;
		}

		#newsletter h2{
			font-size: 16px;
			width: 100%;
		}

		input, input[type="text"] {
			text-align: center;
			margin-bottom:10px;
			margin-right: 0;
		}

		#newsletter button{
			width:275px;
			padding:16px;
			font-size: 14px;
		}

		#prod-desc-text p{
  		width:100%;
		}
		

	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/