body{
  margin:0px;
}

#header img{
  position:absolute;
  top: -35px;
}

#header{
  background-color: #FFFFFF;
  font-size: 18px;
  font-family: "Lato";
  color: #56524f;
  text-transform: uppercase;
  padding: 35px 0;
  width: 100%;
}

ul{
  float: right;
   margin: 20px 0;
}

#header li{
  display:inline-block;
  padding: 0 20px; 
  margin: 0px;
}

#hero{
  padding-top: 195px;
  padding-bottom: 155px;
  background-color: #C5BCB3;
  text-align: center;
  background-image: url("../images/hero-image.jpg");
  background-size: cover;
  background-position: center center;
}

h1{
  font-size: 60px;
  font-family: "Open Sans";
  color: #FFFFFF;
  font-weight: normal;
  line-height: 80px;
  margin-bottom: 45px;
}

h1 span{
  color:#71bb98;
}

#hero button{
  border-style: solid;
  border-width: 4px;
  border-color: #71bb98;
  border-radius: 5px;
  background-color: transparent;
  width: 329px;
  height: 86px;
  font-size: 18px;
  font-family: "Open Sans";
  color: #71bb98;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

#prod-highlight, #newsletter{
  background-color: #d54b29;
  text-align: center;
}

#prod-highlight{
  padding: 53px 0 56px 0;
}

#prod-highlight h2{
  color:#FFFFFF;
  font-family: "Lato";
  font-size: 40px;
  font-weight: 100;
  margin-top:0px;
  margin-bottom: 15px;
}

#prod-highlight h3{
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
  font-style: italic;
  font-weight: 100;
  margin-top:0px;
  margin-bottom: 0px;
}

#prod-desc-text{
  display: inline-block;
}

#prod-desc{
  background-color: #e1e1e1;
  color:#000;
  padding: 128px 0;
}

#prod-desc-text h2{
  font-size: 30px;
  font-family: "Open Sans";
  font-weight: bold;
  margin: 0px;
}

p{
  font-family: "Lato";
  font-weight: 200;
  line-height: 30px;
  margin: 20px 0;
}

#prod-desc-text p{
  width:365px;
}

#prod-feature{
  color:#000;
  padding: 88px 0;
}

#prod-feature h2{
  font-size: 30px;
  font-family: "Open Sans";
  font-weight: bold;
  text-align: center;
  margin-bottom: 35px;
}

#prod-feature h3{
  font-size: 20px;
  font-family: "Lato";
  text-align: center;
  font-weight: normal;
  line-height: 20px;
}

#prod-feature p{
  text-align: center;
}

.feature-desc img{
  background-color: #71bb97;
  padding: 50px;
  border-radius: 50%;
  display:block;
  margin: 67px auto;
  text-align: center;
}

#newsletter{
  padding: 105px 0px;
}

#newsletter h2{
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight:300;
  text-transform: uppercase;
  margin: 0 auto 61px auto;
  line-height: 30px;
  width: 635px;
}

#newsletter button{
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  border-radius: 3px;
  background-clip: padding-box;
  background-color: #71bb97;
  text-transform: uppercase;
  width: 120px;
  padding:19px;
  top:3px;
  border:none;
  font-weight:normal;
}

#newsletter button:hover {
  background-color: #72bb99;
}

input,
input[type="text"]{
  display: inline-block;
  color: #999;
  font-family: "Open Sans", sans-serif;
  border-radius: 3px;
  background-clip: padding-box;
  background-color: #fff;
  width: 360px;
  padding:20px;
  border:1px solid #fff;
  margin-right:5px;
}

#footer{
  background-color: #29373d;
  padding: 55px 0;
  text-align: center;
}

#footer h4{
  font-size: 14px;
  font-family: "Lato";
  color: #fff;
  font-weight: normal;
  margin: 0px;
}

.feature-desc{
  width: 33%;
  display: inline-block;
}
.feature-desc img {

}





